{% extends 'shop_app/base.html' %}
{% load poll_extras %}
{% load static %}
{% block cart_window %}
    <div class="block-cart action">
        <a class="icon-link" href="{% url 'cart' profile.cart_id%}">
            <i class="flaticon-shopping-bag"></i>
            <span class="count">{{profile.count_product_in_cart }}</span>
            <span class="text">
                                    <span class="sub">Your Cart:</span>
                                    ${{ user.profile.balance }} </span>
        </a>
    </div>
{% endblock %}
{% block wish_list_window %}
    {% if user.is_authenticated %}
    <a class="icon-link" href="{% url 'wishlist' profile.wish_list_id %}">
        <i class="flaticon-heart"></i>
        <span class="count">{{ profile.count_product_in_wish_list }}</span>
        <span class="text">
                                    <span class="sub">Favorite</span>
                                    My Wishlist </span>
    </a>
{% else %}
    <a class="icon-link" href="{% url 'login' %}">
        <i class="flaticon-heart"></i>
        <span class="count">0</span>
        <span class="text">
                                    <span class="sub">Favorite</span>
                                    My Wishlist </span>
    </a>
{% endif %}
{% endblock %}

{% block content %}
    <div class="account-area mt-70 mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="basic-login">
                        <h5>Register</h5>
                        <form method="post">{% csrf_token %}
                            {{ form.as_div }}
                            <h2>After registration you need to verify your account</h2>
                            <h2>You will receive a letter in the mail</h2>
                            <button href="" class="tp-in-btn w-100">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
