{% extends 'shop_app/base.html' %}
{% load static %}
{% load poll_extras %}
{% block cart_window %}
    <div class="block-cart action">
        <a class="icon-link" href="{% url 'cart' profile.cart_id %}">
            <i class="flaticon-shopping-bag"></i>
            <span class="count">{{ profile.count_product_in_cart }}</span>
            <span class="text">
                                    <span class="sub">Your Cart:</span>
                                    ${{ profile.balance }} </span>
        </a>
    </div>

{% endblock %}
{% block wish_list_window %}
    {% if user.is_authenticated %}
        <a class="icon-link" href="{% url 'wishlist' profile.wish_list_id %}">
            <i class="flaticon-heart"></i>
            <span class="count">{{ profile.count_product_in_wish_list }}</span>
            <span class="text">
                                    <span class="sub">Favorite</span>
                                    My Wishlist </span>
        </a>
    {% else %}
        <a class="icon-link" href="{% url 'login' %}">
            <i class="flaticon-heart"></i>
            <span class="count">0</span>
            <span class="text">
                                    <span class="sub">Favorite</span>
                                    My Wishlist </span>
        </a>
    {% endif %}
{% endblock %}

{% block content %}



    <main>
        <!-- page-banner-area-start -->
        <div class="page-banner-area page-banner-height-2" data-background="assets/img/banner/page-banner-4.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-banner-content text-center">
                            <h4 class="breadcrumb-title">Checkout</h4>
                            <div class="breadcrumb-two">
                                <nav>
                                    <nav class="breadcrumb-trail breadcrumbs">
                                        <ul class="breadcrumb-menu">
                                            <li class="breadcrumb-trail">
                                                <a href="index.html"><span>Home</span></a>
                                            </li>
                                            <li class="trail-item">
                                                <span>Checkout</span>
                                            </li>
                                        </ul>
                                    </nav>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-banner-area-end -->

        <!-- coupon-area-start -->
        <section class="coupon-area pt-120 pb-30">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="coupon-accordion">
                            <!-- ACCORDION START -->
                            <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                            <div id="checkout_coupon" class="coupon-checkout-content">
                                <div class="coupon-info">
                                    <form action="{% url 'set_coupon' profile_id=profile.pk%}">
                                        <p class="checkout-coupon">
                                            <input type="text" placeholder="Coupon Code">
                                            <button class="tp-btn-h1" type="submit">Apply Coupon</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <!-- ACCORDION END -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- coupon-area-end -->

        <!-- checkout-area-start -->
        <section class="checkout-area pb-85">
            <div class="container">
                <form action="{%url 'checkout' profile.pk profile.cart_id%}" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkbox-form">
                                <h3>Billing Details</h3>

                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Address <span class="required">*</span></label>
                                        <input type="text" placeholder="Street address" name="address">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Town / City <span class="required">*</span></label>
                                        <input type="text" placeholder="Town / City" name="city">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>State / Country <span class="required">*</span></label>
                                        <input type="text" placeholder="State / Country" name="country">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Postcode / Zip <span class="required">*</span></label>
                                        <input type="text" placeholder="Postcode / Zip" name="postcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="your-order mb-30 ">
                            <h3>Your order</h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product, desc in cart.products_in_the_cart.all|zip:description %}
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                {{ product.title }} <strong class="product-quantity">
                                                × {{ desc.quality }}</strong>
                                            </td>
                                            <td class="product-total">
                                                {% if profile.coupon %}
                                                    {% if profile.coupon.is_active %}
                                                        <span class="amount">${{ product.total|discount_coupon:profile.coupon.discount|multiply:desc.quality|floatformat }}</span>
                                                    {% endif %}
                                                {% else %}
                                                    <span class="amount">${{ product.total|multiply:desc.quality|floatformat }}</span>
                                                {% endif %}

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Coupon</th>
                                        <td>{{ profile.coupon.discount }}%</td>
                                    </tr>
                                    <tr class="order-total">

                                        <th>Order Total</th>
                                        <td>
                                            {% if profile.coupon %}
                                                {% if profile.coupon.is_active %}
                                                    <strong><span
                                                            class="amount">${{ sum_product|discount_coupon:profile.coupon.discount|floatformat }}</span></strong>
                                                {% endif %}
                                            {% else %}
                                                <strong><span
                                                        class="amount">${{ sum_product|floatformat }}</span></strong>
                                            {% endif %}

                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <div class="payment-method">
                                <div class="accordion" id="checkoutAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="checkoutOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#bankOne" aria-expanded="true"
                                                    aria-controls="bankOne">
                                                Direct Bank Transfer
                                            </button>
                                        </h2>
                                        <div id="bankOne" class="accordion-collapse collapse show"
                                             aria-labelledby="checkoutOne" data-bs-parent="#checkoutAccordion">
                                            <div class="accordion-body">
                                                <p>Make your payment directly into our bank account. Please use your
                                                    Order ID as the payment reference. Your order won’t be shipped
                                                    until the funds have cleared in our account.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="paymentTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#payment"
                                                    aria-expanded="false" aria-controls="payment">
                                                Cheque Payment
                                            </button>
                                        </h2>
                                        <div id="payment" class="accordion-collapse collapse"
                                             aria-labelledby="paymentTwo" data-bs-parent="#checkoutAccordion">
                                            <div class="accordion-body">
                                                <p>Please send your cheque to Store Name, Store Street, Store Town,
                                                    Store State / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="paypalThree">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#paypal"
                                                    aria-expanded="false" aria-controls="paypal">
                                                PayPal
                                            </button>
                                        </h2>
                                        <div id="paypal" class="accordion-collapse collapse"
                                             aria-labelledby="paypalThree" data-bs-parent="#checkoutAccordion">
                                            <div class="accordion-body">
                                                <p>Pay via PayPal; you can pay with your credit card if you don’t
                                                    have a
                                                    PayPal account.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-button-payment mt-20">
                                    <button type="submit" class="tp-btn-h1">Place order</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </section>
        <!-- checkout-area-end -->

    </main>
{% endblock %}
